/Hafta 1/veriTipleriOrnekleri/nbproject/private/
/Hafta 1/veriTipleriOrnekleri/build/
/Hafta 1/ifElse/nbproject/private/
/Hafta 1/ifElse/build/
/Hafta 1/icİceİfElse/nbproject/private/
/Hafta 1/icİceİfElse/build/
/Hafta 1/ifElseIf/nbproject/private/
/Hafta 1/ifElseIf/build/
/Hafta 1/switchCase/nbproject/private/
/Hafta 1/switchCaseAylar/nbproject/private/
/Hafta 1/switchCaseTekCiftSayi/nbproject/private/
/Hafta 1/switchCaseAylarString/nbproject/private/
/Hafta 1/switchCaseAylarString/build/
/Hafta 1/operatorOrnekleri/nbproject/private/
/Hafta 1/operatorOrnekleri/build/
/Hafta 2/icİceİfElse/build/
/Hafta 2/icİceİfElse/nbproject/private/
/Hafta 2/ifElse/build/
/Hafta 2/ifElse/nbproject/private/
/Hafta 2/ifElseIf/build/
/Hafta 2/ifElseIf/nbproject/private/
/Hafta 2/switchCase/nbproject/private/
/Hafta 2/switchCaseAylar/nbproject/private/
/Hafta 2/switchCaseAylarString/build/
/Hafta 2/switchCaseAylarString/nbproject/private/
/Hafta 2/switchCaseTekCiftSayi/nbproject/private/
/Hafta 3/dongulerWhileOrnek/nbproject/private/
/Hafta 3/dongulerDoWhile/nbproject/private/
/Hafta 3/dongulerDoWhile/build/
/Hafta 3/dongulerFor/nbproject/private/
/Hafta 3/icİceForDongusu/nbproject/private/
/Hafta 3/icİceForDongusu/build/
/Hafta 3/carpimTablosu/nbproject/private/
/Hafta 3/carpimTablosu/build/
/Hafta 3/javaCarpimTablosu/nbproject/private/
